body {
  background: #1d2c67 url("images/bg-mobile.png") no-repeat;
  background-size: cover;
}
@media (min-width: 900px) {
  body {
    background: #0c122c url("images/bg-desktop.png") bottom center no-repeat;
    background-size: contain;
    background-position: 0 50vh;
  }
}
body .container {
  max-width: 325px;
}
@media (min-width: 900px) {
  body .container {
    flex-direction: row;
    max-width: 900px;
    gap: 30px;
  }
}
body .container .images {
  background-color: #1d2c67;
  border-radius: 10px 100px 10px 10px;
}
@media (min-width: 900px) {
  body .container .images {
    width: 60%;
  }
}
body .container .images .logo {
  width: 140px;
}
body .container .images .icons .icon {
  background-color: #0c122c;
  border-radius: 10px;
  width: 48px;
  height: 45px;
  padding: 0.8rem;
  transition: 0.2s;
}
body .container .images .icons .icon:hover {
  scale: 1.1;
  cursor: pointer;
  background-color: #dddbff;
}
body .container .text {
  font-family: "Raleway", sans-serif;
  background-color: #1d2c67;
  color: #dddbff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  position: relative;
}
@media (min-width: 900px) {
  body .container .text {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    align-self: flex-end;
    gap: 15px;
    padding: 2.2rem;
  }
}
body .container .text .main-text {
  font-weight: 200;
  text-align: center;
  font-size: 0.9rem;
}
body .container .text .main-text strong {
  font-weight: 700;
}
@media (min-width: 900px) {
  body .container .text .main-text {
    text-align: start;
  }
}
body .container .text .progress-bar {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 10px;
  height: 15px;
  width: 100%;
  background: #0c122c;
  overflow: hidden;
}
body .container .text .progress-bar::-webkit-slider-runnable-track {
  -webkit-appearance: none;
          appearance: none;
  height: 14px;
  color: #ff4d97;
  border-radius: 10px;
}
body .container .text .progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  box-shadow: -255px 0 25px 120px #ffa399, -110px 0 25px 105px #ff4d97;
}
@media (min-width: 900px) {
  body .container .text .progress-bar::-webkit-slider-thumb {
    box-shadow: -447px 0 50px 230px #ffa399, -110px 0 25px 105px #ff4d97;
  }
}
body .container .text .gbs {
  font-size: 0.8rem;
  font-weight: 700;
  transform: translateY(-5px);
  padding-bottom: 0.5rem;
}
@media (min-width: 900px) {
  body .container .text .gbs {
    padding: 0;
  }
}
body .container .text .gb-left {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: center;
  background-color: #fff;
  padding: 0.3rem 1.5rem;
  position: absolute;
  top: 110px;
  border-radius: 10px;
  text-transform: uppercase;
}
@media (min-width: 900px) {
  body .container .text .gb-left {
    top: -45px;
    right: 35px;
    z-index: 0;
  }
  body .container .text .gb-left::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 40px 15px 0;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -25px;
    right: -8px;
    rotate: -21deg;
  }
}
body .container .text .gb-left strong {
  color: #0c122c;
  font-weight: 700;
  font-size: 2.5rem;
}
body .container .text .gb-left p {
  font-size: 0.8rem;
  color: #848794;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */