@charset "UTF-8";

// Variables

$Gradient: linear-gradient(to right, #ffa399, #ff4d97);
$Yellow: #ffa399;
$Orange: #ff4d97;
$Pale-Blue: #dddbff;
$White: #fff;
$Grayish-Blue: #848794;
$Dark-Blue: #1d2c67;
$Very-Dark-Blue: #0c122c;
$Raleway: 'Raleway', sans-serif;

body {
    background: $Dark-Blue url('images/bg-mobile.png') no-repeat;
    background-size: cover;
    @media (min-width: 900px) {
        background: $Very-Dark-Blue url('images/bg-desktop.png') bottom center no-repeat;
        background-size: contain;
        background-position: 0 50vh;
    }        
    
    .container {
        max-width: 325px;
        @media (min-width: 900px) {
            flex-direction: row;
            max-width: 900px;
            gap: 30px;            
        }
        .images {
            background-color: $Dark-Blue;
            border-radius: 10px 100px 10px 10px;
            @media (min-width: 900px) {
                width: 60%;
            }
            .logo {
                width: 140px;                
            }
            .icons {
                .icon {
                    background-color: $Very-Dark-Blue;
                    border-radius: 10px;
                    width: 48px;
                    height: 45px;
                    padding: .8rem;
                    transition: .2s;
                    &:hover {
                        scale: 1.1;
                        cursor: pointer;
                        background-color: $Pale-Blue;
                    }
                }
            }
        }
        .text {
            font-family: $Raleway;
            background-color: $Dark-Blue;
            color: $Pale-Blue;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-radius: 10px;
            position: relative;
            @media (min-width: 900px) {
                width: 100%;
                height: max-content;
                align-self: flex-end;
                gap: 15px;
                padding: 2.2rem;
            }
            .main-text {
                font-weight: 200;
                text-align: center;
                font-size: .9rem;
                strong {
                    font-weight: 700;
                }
                @media (min-width: 900px) {
                    text-align: start;
                }
            }
            .progress-bar {                
                appearance: none;
                border-radius: 10px;
                height: 15px;
                width: 100%;
                background: $Very-Dark-Blue;
                overflow: hidden;
                &::-webkit-slider-runnable-track {
                    appearance: none;
                    height: 14px;
                    color: #ff4d97;
                    border-radius: 10px;
                }
                &::-webkit-slider-thumb {
                    appearance: none;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    background-color: $White;
                    cursor: pointer;
                    box-shadow: -255px 0 25px 120px $Yellow,
                                -110px 0 25px 105px $Orange;
                    @media (min-width: 900px) {
                        box-shadow: -447px 0 50px 230px $Yellow,
                                    -110px 0 25px 105px $Orange;
                    }

                }
            }
            .gbs {
                font-size: .8rem;
                font-weight: 700;
                transform: translateY(-5px);
                padding-bottom: .5rem;
                @media (min-width: 900px) {
                    padding: 0;
                }
            }
            .gb-left {
                display: flex;
                align-items: center;
                gap: 10px;
                align-self: center;
                background-color: $White;
                padding: .3rem 1.5rem;
                position: absolute;
                top: 110px;
                border-radius: 10px;
                text-transform: uppercase;
                @media (min-width: 900px) {
                    top: -45px;
                    right: 35px;
                    z-index: 0;
                    &::after {
                        content: '';
                        position: absolute;
                        border-style: solid;
                        border-width: 40px 15px 0;
                        border-color: $White transparent;
                        display: block;
                        width: 0;
                        z-index: 1;
                        bottom: -25px;
                        right: -8px;
                        rotate: -21deg;
                    }
                }
                strong {
                    color: $Very-Dark-Blue;
                    font-weight: 700;
                    font-size: 2.5rem;
                }
                p {
                    font-size: .8rem;
                    color: $Grayish-Blue;
                    font-weight: 700;
                }
            }
        }
    }
}